body{
    text-align: center;
}
.controls{
    margin-bottom: 2rem;
}
:root{
    --base: #60A5FA;
    --spacing: 10px;
    --blur: 10px;
}
img{
    width: 30rem;
    /* height: 30rem; */
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.hl{
    color: var(--base);
}